<div class="jumbotron">
	<h1>Hermenies</h1>
	<p>
		Hermeneutics for the digital age
	</p>
	<% if user_signed_in? %>
		<p>
			<%= link_to "Add Text", new_text_path, class: "btn btn-primary btn-lg" %>
			<%= link_to "View All Texts", texts_path, class: "btn btn-primary btn-lg" %>
		</p>
	<% else %>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
	<% end %>
</div>
<div class="row">
  <% @texts.each do |text| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail dot-ellipsis dot-resize-update">
        <td><div class="thumbnail-image"><%= image_tag text.image.present? ? text.image : "blank.jpg" %></div></td>
        <div class="dot-ellipsis dot-resize-update caption" id="responsive">
          <h3><%= link_to text.title, text %></h3>
          <p><%= simple_format(text.body) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>