<div class="page-header">
  <h1><%= @text.title %> <small>by Walt Whitman</small></h1>
</div>

<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <%= simple_format(@text.body) %>
			</p>
		</div>
		<p>
			  Text uploaded by <%= @text.user.name %>
		</p>
		<%= link_to 'Edit Text', edit_text_path(@text), class: 'btn btn-primary' %><br><br>
		<%= link_to 'Back to All Texts', texts_path %>
	</div>
</div>
